.new-todo {
  width: 600px;
  max-width: 90vw;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.new-todo button {
  background-color: #180c55;
  color: #eaeaea;
  border: none;
  outline: none;
  height: 2.2rem;
  min-width: fit-content;
  width: 140px;
  cursor: pointer;
  border-radius: 2px;
}

.new-todo .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-todo input {
  border: 2px solid #180c55;
  height: 2rem;
  max-width: 100%;
  width: 200px;
  outline: none;
  font-weight: 400;
  font-size: 0.875rem;
}

.new-todo label {
  font-size: 0.875rem;
  font-weight: 600;
}
